* {
  /* GLOBAL RESET */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #f5f5f5;
  --primary-font-color: #1f1f1f;
  --primary-font-family: "Inter", "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
}
